body {
    text-align: justify;
    font-size: 1.1rem;
    min-height: 100vh;
    font-family: 'Comfortaa';
}

a {
    text-decoration: none;
}

.line {
    background-color: #0b5ed8;
    width: 300px;
    height: 3px;
}

.hidden {
    display: none;
}

#showAdditionalFilters {
    cursor: pointer;
}